@import '../../../utility/sass/color-scheme';

.logo {
  padding: 15px;
  display: inline-flex;
  text-decoration: none;

  h1 {
    margin: 5px;
    color: $goKeeperLight;

    @media only screen and (max-width: 640px){
      opacity: 0%;
    }
  }
}