@import "../../../utility/sass/color-scheme";

.header-link-group {
  margin-top: 30px;
  display: inline-flex;
  color: $goKeeperLight;
  font-size: 18px;
  font-weight: bold;

  .header-link {
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0px 20px 0px 20px;
    color: $goKeeperLight;
    text-decoration: none;
    transition: font-size 0.1s, margin-top 0.1s;

    &:hover {
      color: $goKeeperSecondaryAccent;
      font-size: 20px;
      margin-top: -2px;
    }
  }

  .header-link-separator {
    font-size: 22px;
    margin-top: -5px;
  }
}