@import '../../../utility/sass/color-scheme';

.user-panel {
  margin: 25px 25px 20px 25px;
  display: inline-flex;
  color: $goKeeperLight;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;

  .user-panel-icon:hover {
    color: $goKeeperSecondaryAccent;
  }

  .username {
    margin: auto 5px;
    font-size: 18px;
  }
}