@import '../../../utility/sass/color-scheme';

.user-panel {
  margin: 20px 25px 25px 170px;
  display: inline-flex;
  color: $goKeeperLight;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;

  .user-panel-icon:hover {
    color: $goKeeperSecondaryAccent;
  }

  .username {
    margin: 5px 10px 0px 0px;
    font-size: 18px;
  }
}