@import '../../../utility/sass/color-scheme';

.create-password-form {
  display: inline-flex;
  margin: auto;
  justify-content: space-evenly;
  width: 60%;

  .input {
    font-size: 18px;
    padding: 0px 10px 0px 10px;
    margin-top: 10px
  }

  .button {
    margin-top: 45px;
  }
}